// npm install --save-dev jest @babel/preset-env @babel/preset-react eslint-plugin-jest
// npm install --save-dev deep-freeze

{
  "presets": [
    "@babel/preset-env",
    ["@babel/preset-react", { "runtime": "automatic" }]
  ]
}